.new-tweet {
  color: #665f54;
  font-weight: 700;
}
.new-tweet form textarea {
  outline: none;
  background-color: transparent;
  width:100%;
  resize: none;
  border: 0;
  border-bottom: 3px solid #665f54;
  
}

.form-footer {
  margin: 10px 0;
  font-family: 'Bungee', sans-serif;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
}

.btn-tweet {
  padding: 5px;
  background-color: #4056A1;
  color: #fff;
  
  cursor: pointer;
}

.warning {
  color: #db071c;
}

/* Error message */

.error-msg {
  color: #db071c;
  border: 2px solid #db071c;
  padding: 20px 40px;
  margin: 35px 0;

  display: none;
}